<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784050790815-q6mteoma2j1ea65rq1nhhm88408gf1oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784050790815-q6mteoma2j1ea65rq1nhhm88408gf1oa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>784050790815-jkfv8rqneg4ercopck9ku4pg3msdq0q0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqFzEv9kbJY9iicxxc9ORXoKaafOZNQrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>784050790815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lean.recyclea.bin.recyclaBin</string>
	<key>PROJECT_ID</key>
	<string>recycla-bin-mvp</string>
	<key>STORAGE_BUCKET</key>
	<string>recycla-bin-mvp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784050790815:ios:852aa76dbee83114121daa</string>
</dict>
</plist>